@font-face {
    font-family: JakartaSans;
    src: url(/Majour-project/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

/* Navbar*/
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    color: #222222;
    text-decoration: none;
}

.container {
    flex: 1;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    position: sticky;   
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
    color: #222222;
}

/* card effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New page */
.add-btn {
    border: none !important;
    background-color: #fe424d !important;
}

/* show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
    height: 35px;
}
.img-fit{
    height: 150px;
    width: 150px;
    display: flex;
}   

/* Map */

#map { 
    height: 400px;
    width: 90vh;
}

